@charset "UTF-8";
@keyframes loader {
  0% {
    background-color: #9356DC;
  }
  100% {
    background-color: #e4d5f6;
    visibility: hidden;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    visibility: hidden;
  }
}
@keyframes fill {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: 16px;
}

h2 {
  font-weight: bold;
  font-size: 16px;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

h4 {
  font-family: "shrikhand";
  font-size: 14px;
}

h5 {
  font-weight: bold;
  color: black;
}

p {
  font-size: 13px;
}

a {
  font-size: 12px;
  color: black;
}

main {
  font-family: "roboto";
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  animation: loader 2.5s;
  animation-fill-mode: both;
}
.loader__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  border: 5px solid #99E2D0;
}
.loader__spinner i {
  font-size: 30px;
  color: #99E2D0;
}
.loader__spinner::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 5px solid transparent;
  border-radius: 30px;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  animation: spin 2.5s linear infinite;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}

.footer {
  position: absolute;
  width: 100%;
  background-color: #353535;
  color: white;
  padding-left: 16px;
  padding-bottom: 15px;
  height: max-content;
}
.footer__title {
  margin-top: 16px;
  margin-bottom: 16px;
}
.footer__icon {
  color: white;
}
.footer__icon i {
  font-size: 11px;
  width: 6px;
  margin-right: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 100%;
}
.header__icon {
  position: absolute;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 5px;
}
.header__icon a {
  padding: 15px;
}
.header__icon i {
  font-size: 20px;
}
.header__logo {
  width: 150px;
}

.search {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
}
.search__location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  height: 50px;
}

.search-form {
  display: flex;
  align-items: center;
  margin-left: 5%;
}
.search-form__map {
  display: flex;
  justify-content: center;
  position: relative;
  height: 25px;
  width: 25px;
}
.search-form__map i {
  position: absolute;
  font-size: 14px;
  padding-top: 20%;
}
.search-form__text {
  font-size: 13px;
  padding-left: 5%;
  border: none;
  background-color: #EAEAEA;
}

.search-titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10%;
}
.search-titre h1 {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}
.search-titre input {
  margin-top: 10%;
  height: 50px;
  width: 180px;
  border-radius: 50px;
  font-size: 13px;
  color: white;
  border: none;
  background-image: radial-gradient(ellipse farthest-corner at 20px 0, #FF79DA 0%, #9356DC 100%);
  cursor: pointer;
  box-shadow: 3px 3px 10px #7e7e7e;
  transform: scale(1);
  transition: transform 500ms;
  opacity: 1;
}
.search-titre input:hover {
  transform: scale(1.1);
  opacity: 0.8;
  box-shadow: 3px 3px 25px #7e7e7e;
}

.functioning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.functioning__selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.functioning a {
  width: 100%;
}
.functioning__list {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #F6F6F6;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 10px #7e7e7e;
}
.functioning__list:hover {
  background-color: #f2eafb;
}
.functioning__list:hover .functioning__text__icon {
  color: #9356DC;
}
.functioning__list__circle {
  margin-right: auto;
  margin-left: -10px;
  border-radius: 25px;
  padding-left: 8px;
  padding-top: 5px;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  color: white;
  font-size: 8px;
}
.functioning__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  width: 180px;
}
.functioning__text__icon {
  color: #7e7e7e;
}
.functioning__text__text {
  margin-left: 20px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding-top: 50px;
  padding-bottom: 50px;
}
.restaurant__title {
  margin-right: auto;
  padding-bottom: 20px;
  padding-left: 10px;
}
.restaurant__card {
  width: 90%;
  height: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: white;
  box-shadow: 3px 3px 10px #7e7e7e;
  margin-bottom: 20px;
}

.card {
  height: 170px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.card img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}
.card__new {
  right: 12px;
  top: 12px;
  background-color: #99E2D0;
  font-weight: bold;
  color: #2c9c81;
  padding: 10px 15px;
  position: absolute;
  border-radius: 3px;
}

.text {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px 20px 15px;
}
.text p {
  margin-top: 5px;
}
.text__heart {
  font-size: 20px;
}
.text__heart .far {
  padding: 10px;
  color: grey;
}
.text__heart .far:hover {
  animation: fill 1s ease-out;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.header__logo {
  position: relative;
}

.main__image {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.menu {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  position: relative;
  margin-top: -50px;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.menu__title h2 {
  font-family: "shrikhand";
  font-size: 26px;
}
.menu__title .far {
  font-size: 32px;
  margin-right: 20px;
  padding: 10px;
  color: grey;
}
.menu__title .far:hover {
  animation: fill 1s ease-out;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}
.menu__h3 {
  width: 30px;
  font-weight: normal;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 2px solid #99E2D0;
}
.menu__card {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 3px 10px #7e7e7e;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.menu__card:hover {
  padding-right: 75px;
}
.menu__card:hover .menu__card__check {
  opacity: 1;
  transform: translate(-50px);
}
.menu__card:hover .fa-check-circle {
  transform: rotate(360deg);
}
.menu__card__title {
  padding-top: 5px;
  margin: 0;
}
.menu__card__title h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}
.menu__card__description p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__card__price {
  font-size: small;
  font-weight: bold;
  margin-right: 5px;
}
.menu__card__check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 60px;
  height: 60px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}
.menu__card__check .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
}

.entrée {
  animation: fadein 2s ease-in-out;
}

.plat {
  animation: fadein 4s ease-in-out;
}

.dessert {
  animation: fadein 6s ease-in-out;
}

/*# sourceMappingURL=styles.css.map */
