@-webkit-keyframes loader {
  0% {
    background-color: #9356DC;
  }
  100% {
    background-color: #e4d5f6;
    visibility: hidden;
  }
}

@keyframes loader {
  0% {
    background-color: #9356DC;
  }
  100% {
    background-color: #e4d5f6;
    visibility: hidden;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    visibility: hidden;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    visibility: hidden;
  }
}

@-webkit-keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}

@keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}

@-webkit-keyframes apparition {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 100%;
  }
}

@keyframes apparition {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}

.delay1 {
  -webkit-animation: apparition 0.5s;
  animation: apparition 0.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.delay2 {
  -webkit-animation: apparition 0.5s;
  animation: apparition 0.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.delay3 {
  -webkit-animation: apparition 0.5s;
  animation: apparition 0.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.delay4 {
  -webkit-animation: apparition 0.5s;
  animation: apparition 0.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: 16px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

h4 {
  font-family: "shrikhand";
  font-size: 14px;
}

h5 {
  font-weight: bold;
  color: black;
}

p {
  font-size: 13px;
}

a {
  font-size: 12px;
  color: black;
}

.search__title input {
  margin-top: 10%;
  height: 50px;
  width: 180px;
  border-radius: 50px;
  font-size: 13px;
  color: white;
  border: none;
  background-image: radial-gradient(ellipse farthest-corner at 20px 0, #FF79DA 0%, #9356DC 100%);
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 10px #7e7e7e;
          box-shadow: 3px 3px 10px #7e7e7e;
}

.search__title input:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.8;
  -webkit-box-shadow: 3px 3px 25px #7e7e7e;
          box-shadow: 3px 3px 25px #7e7e7e;
}

.btn-commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 100px;
}

.btn-commander input {
  margin-top: 10%;
  height: 50px;
  width: 180px;
  border-radius: 50px;
  font-size: 13px;
  color: white;
  border: none;
  background-image: radial-gradient(ellipse farthest-corner at 20px 0, #FF79DA 0%, #9356DC 100%);
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 10px #7e7e7e;
          box-shadow: 3px 3px 10px #7e7e7e;
}

.btn-commander input:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.8;
  -webkit-box-shadow: 3px 3px 25px #7e7e7e;
          box-shadow: 3px 3px 25px #7e7e7e;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-animation: loader 2.5s;
  animation: loader 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.loader__spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  border: 5px solid #99E2D0;
}

.loader__spinner i {
  font-size: 30px;
  color: #99E2D0;
}

.loader__spinner::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 5px solid transparent;
  border-radius: 30px;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  -webkit-animation: spin 2.5s ease-in-out;
  animation: spin 2.5s ease-in-out;
}

main {
  font-family: "roboto";
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
}

.footer {
  position: absolute;
  width: 100%;
  background-color: #353535;
  color: white;
  padding-left: 16px;
  padding-bottom: 30px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.footer__title {
  margin-top: 16px;
  margin-bottom: 16px;
}

.footer__icon {
  color: white;
}

.footer__icon i {
  font-size: 11px;
  width: 6px;
  margin-right: 10px;
}

@media screen and (min-width: 750px) {
  .footer__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 63px;
  width: 100%;
}

.header__icon {
  position: absolute;
  width: 100%;
  margin-bottom: 5px;
}

.header__icon a {
  padding: 15px;
}

.header__icon i {
  font-size: 20px;
}

.header__title {
  width: 150px;
  font-family: "shrikhand";
  font-size: 26px;
  text-align: center;
}

.explain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .explain {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 300px;
  }
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #F6F6F6;
}

.search__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EAEAEA;
  height: 50px;
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
}

.search__form__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 25px;
  width: 25px;
}

.search__form__map i {
  position: absolute;
  font-size: 14px;
  padding-top: 20%;
}

.search__form__text {
  font-size: 13px;
  padding-left: 5%;
  border: none;
  background-color: #EAEAEA;
}

.search__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 10%;
}

.search__title h1 {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

@media screen and (min-width: 1024px) {
  .search {
    height: 280px;
    border-right: 10px solid white;
  }
  .search__title {
    margin: 50px;
  }
}

.functioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.functioning__selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.functioning a {
  width: 100%;
}

.functioning__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background-color: #F6F6F6;
  border-radius: 20px;
  margin-bottom: 10px;
  -webkit-box-shadow: 3px 3px 10px #7e7e7e;
          box-shadow: 3px 3px 10px #7e7e7e;
}

.functioning__list:active {
  background-color: #f2eafb;
}

.functioning__list:active .functioning__text__icon {
  color: #9356DC;
}

.functioning__list__circle {
  margin-left: -10px;
  border-radius: 25px;
  padding-left: 8px;
  padding-top: 5px;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  color: white;
  font-size: 8px;
}

.functioning__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 180px;
}

.functioning__text__icon {
  color: #7e7e7e;
}

.functioning__text__text {
  margin-left: 20px;
}

@media screen and (min-width: 750px) {
  .functioning__selection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .functioning__list {
    width: 90%;
    margin-left: 5%;
  }
}

@media screen and (min-width: 1024px) {
  .functioning {
    height: 280px;
    background-color: #F6F6F6;
  }
  .functioning__selection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .functioning h2 {
    height: 50px;
    text-align: center;
  }
  .functioning__list:hover {
    background-color: #f2eafb;
  }
  .functioning__list:hover .functioning__text__icon {
    color: #9356DC;
  }
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #F6F6F6;
  padding-top: 50px;
  padding-bottom: 50px;
}

.restaurant__title {
  width: 90%;
  padding-bottom: 20px;
}

.restaurant__selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.restaurant__selection__card {
  height: 250px;
  border-radius: 25px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 10px #7e7e7e;
          box-shadow: 3px 3px 10px #7e7e7e;
  margin-bottom: 30px;
}

@media screen and (min-width: 750px) {
  .restaurant {
    padding-top: 30px;
  }
  .restaurant__title {
    text-align: center;
    height: 50px;
  }
  .restaurant__selection__1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .restaurant__selection__2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .restaurant__selection a {
    width: 40%;
  }
  .restaurant__selection__card {
    min-width: 300px;
    margin-bottom: 50px;
  }
}

.card {
  height: 170px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.card img {
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
}

.card__new {
  right: 12px;
  top: 12px;
  background-color: #99E2D0;
  font-weight: bold;
  color: #2c9c81;
  padding: 10px 15px;
  position: absolute;
  border-radius: 3px;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 15px 20px 15px;
}

.text p {
  margin-top: 5px;
}

.text__heart {
  display: block;
  float: right;
  height: 50px;
  width: 50px;
  margin-bottom: 0;
  margin-top: -50px;
  margin-right: 20px;
  font-size: 25px;
}

.text__heart:active .far {
  opacity: 0.3;
}

.text__heart:active .fas {
  -webkit-animation: scale-up-bottom 0.4s ease-in-out both;
  animation: scale-up-bottom 0.4s ease-in-out both;
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .text__heart:hover .far {
    opacity: 0.3;
  }
  .text__heart:hover .fas {
    -webkit-animation: scale-up-bottom 0.4s ease-in-out both;
    animation: scale-up-bottom 0.4s ease-in-out both;
    opacity: 1;
  }
}

.text__heart .far {
  position: absolute;
  color: grey;
}

.text__heart .fas {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  opacity: 0;
}

.header__logo {
  position: relative;
}

.main img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 280px;
}

.menu {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  position: relative;
  margin-top: -50px;
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.menu__title h2 {
  font-family: "shrikhand";
  font-size: 26px;
}

.menu__title__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
}

.menu__title__heart:active .far {
  opacity: 0.3;
}

.menu__title__heart:active .fas {
  -webkit-animation: scale-up-bottom 0.4s ease-in-out both;
  animation: scale-up-bottom 0.4s ease-in-out both;
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .menu__title__heart:hover .far {
    opacity: 0.3;
  }
  .menu__title__heart:hover .fas {
    -webkit-animation: scale-up-bottom 0.4s ease-in-out both;
    animation: scale-up-bottom 0.4s ease-in-out both;
    opacity: 1;
  }
}

.menu__title .far {
  position: absolute;
  font-size: 32px;
  margin-right: 20px;
  padding: 15px;
  color: grey;
}

.menu__title .fas {
  position: absolute;
  font-size: 34px;
  margin-right: 20px;
  padding: 15px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  opacity: 0;
}

.menu__h3 {
  width: 30px;
  font-weight: normal;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid #99E2D0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: apparition 0.5s;
  animation: apparition 0.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.menu__starter {
  padding-top: 20px;
  padding-bottom: 25px;
}

.menu__main-course {
  padding-bottom: 25px;
}

.card-restaurant {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  -webkit-box-shadow: 3px 3px 10px #7e7e7e;
          box-shadow: 3px 3px 10px #7e7e7e;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: padding-right 450ms ease-in-out;
  transition: padding-right 450ms ease-in-out;
}

.card-restaurant:hover {
  padding-right: 75px;
}

.card-restaurant:hover .card-restaurant__check {
  opacity: 1;
  -webkit-transform: translate(-50px);
          transform: translate(-50px);
}

.card-restaurant:hover .fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.card-restaurant__title {
  padding-top: 5px;
  margin: 0;
}

.card-restaurant__title h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-restaurant__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

.card-restaurant__description p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-restaurant__price {
  font-size: small;
  font-weight: bold;
  margin-right: 5px;
}

.card-restaurant__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  width: 60px;
  height: 60px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
}

.card-restaurant__check .fa-check-circle {
  color: white;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

@media screen and (min-width: 750px) {
  .menu__list {
    width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .menu__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__title h2 {
    padding-right: 30px;
  }
  .menu__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu__starter, .menu__main-course, .menu__dessert {
    padding: 0;
    margin: 0;
  }
}
/*# sourceMappingURL=styles.css.map */