.footer{
    position: absolute;
    width: 100%;
    background-color: $color-footer;
    color: white;
    padding-left: 16px;
    padding-bottom: 15px;
    height: max-content;
    
    &__title{
        margin-top: 16px;
        margin-bottom: 16px;
    }

    &__icon{
        color: white;

        i{
        font-size: 11px;
        width: 6px;
        margin-right: 10px;
        }
    }
}
@media screen and (min-width: 750px) {
    .footer{
        &__title{
            display: flex;
            justify-content: center;
        }

        ul{
            display: flex;
            justify-content: space-around;
        }
    }
}
