.explain{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
@media screen and(min-width: 1024px) {
    .explain{
        flex-direction: row;
        height: 300px;
    }
}

.search{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $color-grey-light;
    &__location{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-grey;
        height: 50px;
    }
    &__form{
        display: flex;
        align-items: center;
        margin-left: 5%;
        
        &__map{
            display: flex;
            justify-content: center;
            position: relative;
            height: 25px;
            width: 25px;
            
            i{
                position: absolute;
                font-size: 14px;
                padding-top: 20%;
            }
        }  
        
        &__text{
            font-size: 13px;
            padding-left: 5% ;
            border: none;
            background-color: $color-grey;
        }
    }
    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 10%;
        h1{
            padding-left: 10%;
            padding-right: 10%;
            padding-bottom: 5%;
        }  
    }
}

@media screen and(min-width: 1024px) {
    .search{
        height: 280px;
        border-right: 10px solid white;
        &__title{
            margin: 50px;
        }
    }
}




.functioning{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    
    &__selection{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        
    }
    a{
        width: 100%;
    }
    
    &__list{
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: $color-grey-light;
        border-radius: 20px;
        margin-bottom: 10px;
        @include shadows ;
        
        &:active {
            @include hover-functioning ;
        }
        
        &__circle{
            margin-left: -10px;
            border-radius: 25px;
            padding-left: 8px;
            padding-top: 5px;
            width: 20px;
            height: 20px;
            background-color: $color-primary;
            color: white;
            font-size: 8px;
        }
    }
    
    &__text{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        padding-left: 5px;
        padding-right: 5px;
        width: 180px;
        
        &__icon{
            color: $color-icon;
        }
        
        &__text{
            margin-left: 20px;
        }
    }
    
}
@media screen and(min-width: 750px) {
    .functioning{
        &__selection{
            flex-direction:row;
        }
        &__list{
            width: 90%;
            margin-left: 5%;
        }
    }
}
@media screen and(min-width: 1024px) {
    .functioning{
        height: 280px;
        background-color: $color-grey-light;
        &__selection{
            flex-direction:column;
            margin: 0;
        }
        h2{
            height: 50px;    
            text-align: center;
        }
        &__list:hover{
            @include hover-functioning;
        }
    }
}
.restaurant{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $color-grey-light;
    padding-top: 50px;
    padding-bottom: 50px;
    
    &__title{
        width: 90%;
        padding-bottom: 20px;
    }
    
    &__selection{
        display: flex;
        flex-direction: column;
        width: 90%;
        
        
        &__card{
            height: 250px;
            border-radius: 25px;
            background-color: white;
            @include shadows;
            margin-bottom: 30px;
        } 
    }
}
@media screen and(min-width: 750px) {
    .restaurant{
        padding-top: 30px;

        &__title{
            text-align: center;
            height: 50px;
        }
        
        &__selection{
            &__1{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
            
            &__2{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
            
            a{width: 40%;
            }

            &__card{
                min-width: 300px;
                margin-bottom: 50px;
            }
        }
    }
}

.card{
    height: 170px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    
    img{
        height: 100%;
        width: 100%;
        position: absolute;
        -o-object-fit:cover;
           object-fit:cover;
    }
    &__new{
        @include new;
    }
}
.text{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 20px 15px;
    p{
        margin-top: 5px;
    }
    &__heart{display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        font-size: 25px;
        @include heart;
        
        .far{
            position: absolute;
            color: grey;
        }
        .fas{
            position: absolute;
            background-image : linear-gradient($color-secondary, $color-primary);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            font-weight: bold;
            opacity: 0;
        }
    }
    
}
