.header{
    &__logo{
        position: relative;
    }
}

.main{
    img{
        object-fit: cover;
        width: 100%;
        height: 280px;
    }
}

.menu{
    background-color: #f6f6f6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    position: relative;
    margin-top: -50px;
    
    
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        
        h2{
            @include title
        }
        
        .far{
            font-size: 32px;
            margin-right: 20px;
            @include heart
        }
    }
    
    
    
    &__h3{
        width: 30px;
        font-weight: normal;
        padding-bottom: 5px;
        margin-left: 10px;
        margin-bottom: 15px;
        border-bottom: 2px solid $color-tertiary;
    }
    
    &__card{
        @include card;
        
        
        
        &__title{
            padding-top: 5px;
            margin: 0;

            h3{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
           }
        }
        
        &__description{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 5px;
            
            p{
                margin: 0;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        
        &__price{
            @include price;
        }
        
        &__check {
            @include check;
        }
    }
}
.entrée{
    padding-top: 20px;
    padding-bottom: 25px;
    animation: fadein 2s ease-in-out;
}

.plat{
    padding-bottom: 25px;
    animation: fadein 4s ease-in-out;
}

.dessert{
    animation: fadein 6s ease-in-out;
}
