@mixin shadows {
    box-shadow: 0px 0px 5px 2px $color-grey;
}

@mixin hover-functioning {
    background-color: $color-primary-light;
    .functioning__text__icon{
        color: $color-primary;
    }
    
}
@mixin btn {
    margin-top: 10%;
    height: 50px;
    width: 180px;
    border-radius: 20px;
    font-size: 12px;
    color: $color-white;
    border: none;
    background-image: $color-mix;
    cursor: pointer;
}
@mixin title {
    font-family: $font-title;
    font-size: 26px;
}

@mixin card{
    border-radius: 20px;
    border: 1px solid $color-grey;
    width: 100%;
    height: 75px;
    margin-bottom: 20px;
    background-color: white;
    @include shadows
}

@mixin heart {
    .heart{
        font-size: 20px;
        color: grey;
        &:hover{
            animation: fill 1s ease-out;
            background: linear-gradient($color-primary, $color-secondary);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
        }
    
    }
}

@mixin new{
    right: 12px;
    top: 12px;
    background-color: $color-tertiary;
    font-weight: bold;
    color: darken($color-tertiary, 35);
    padding: 10px 15px ;
    position: absolute;
    border-radius: 3px;
}
