@mixin shadows {
    box-shadow: 5px 5px 5px 2px $color-grey;
}

@mixin hover-functioning {
    background-color: $color-primary-light;
    color: $color-primary;
}
@mixin btn {
    margin-top: 10%;
    height: 50px;
    width: 180px;
    border-radius: 20px;
    font-size: 12px;
    color: $color-white;
    border: none;
    background-color: $color-secondary;
    cursor: pointer;
}
