$color-primary :#9356DC;
$color-secondary :#FF79DA;
$color-tertiary :#99E2D0;
$color-grey : #EAEAEA;
$color-grey-light :#F6F6F6;
$color-footer : #353535;
$color-white : white;
$color-icon : #7e7e7e;
$color-primary-light: lighten($color-primary, 35);
$color-mix :radial-gradient(ellipse farthest-corner at 20px 0, #FF79DA 0%, #9356DC 100%);


$font-title : "shrikhand";
$font-text : "roboto";